USE [Blutspende]
GO
/****** Object:  UserDefinedFunction [dbo].[sf_GetNextDate]    Script Date: 15.01.2026 13:30:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
ALTER   FUNCTION [dbo].[sf_GetNextDate] 
(
	-- Add the parameters for the function here
	@SpenderID int
	
	
)
RETURNS date
AS
BEGIN
	-- Declare the return variable here
	-- DECLARE @NextDate date 

	-- Add the T-SQL statements to compute the return value here
	-- SELECT @NextDate = TerminDatum FROM Spendetermine
	-- 	WHERE SpenderID = @SpenderID

	-- aus Chat

	DECLARE @LetzterTermin DATE;
	DECLARE @NaechsterTermin DATE;


	SELECT @LetzterTermin = MAX(st.TerminDatum)
	FROM Blutspenden bs
	INNER JOIN Spendetermine st
	ON bs.TerminID = st.TerminID
	WHERE st.SpenderID = @SpenderID;


	IF @LetzterTermin IS NULL
	RETURN CAST(GETDATE() AS DATE);

	/* 56 Tage Wartezeit */
	SET @NaechsterTermin = DATEADD(DAY, 56, @LetzterTermin);

	RETURN @NaechsterTermin;







	-- Return the result of the function
	-- RETURN @NextDate

END
