USE [Blutspende]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckVerfallsdatum]    Script Date: 15.01.2026 14:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_CheckVerfallsdatum]
	
AS
BEGIN
	
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	DECLARE @Verfallsdatum date
	DECLARE @Status int

	DECLARE Cursor_Konserven CURSOR
		FOR 
		SELECT Blutkonserven.StatusID, Blutkonserven.Verfallsdatum
		FROM Blutkonserven
		ORDER BY Blutkonserven.Verfallsdatum
	
	OPEN Cursor_Konserven
		FETCH NEXT FROM Cursor_Konserven INTO @Status, @Verfallsdatum
		WHILE @@FETCH_STATUS = 0

		BEGIN
	
			IF ( (@Status = 3 OR @Status = 4) and @Verfallsdatum < getdate() )
			BEGIN
				Update Blutkonserven
				SET StatusID = 1
				WHERE current of Cursor_Konserven
			END
			FETCH NEXT FROM Cursor_Konserven INTO @Status, @Verfallsdatum

		END

CLOSE Cursor_Konserven
DEALLOCATE Cursor_Konserven

END
