USE [Blutspende]
GO
/****** Object:  Trigger [dbo].[trg_Update_Blutausgaben]    Script Date: 15.01.2026 13:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER   TRIGGER [dbo].[trg_Update_Blutausgaben] 
   ON  [dbo].[Blutausgaben] 
   AFTER INSERT, UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	Update Blutkonserven 
	SET Blutkonserven.StatusID = 2
		FROM Blutkonserven
		INNER JOIN inserted
		ON Blutkonserven.KonserveID = inserted.KonserveID
		WHERE (Blutkonserven.StatusID = 3 OR Blutkonserven.StatusID = 4)
	


END
