USE [Blutspende]
GO
/****** Object:  Trigger [dbo].[trg_Update_Labortests]    Script Date: 15.01.2026 13:38:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER     TRIGGER [dbo].[trg_Update_Labortests]
   ON [dbo].[Labortests]
   AFTER INSERT, UPDATE
AS 
BEGIN
	
	SET NOCOUNT ON
 
    -- Über Labortests zur SpendeID gelangen


    INSERT INTO Blutkonserven(SpendeID, MengeML, Herstellungsdatum, StatusID)
    
     -- wenn Testergbins = '3 Negativ freigegeben', dann insert '4 verfügbar' in Tab. Blutkonserven    
    SELECT
        i.SpendeID,           -- SpendeID aus Labortests
        bs.MengeML,
        st.TerminDatum,
        4
    FROM inserted i
    -- INNER JOIN Labortests lt ON i.TestergebnisseID = lt.TestergebnisseID  -- Verbindung zu Labortests!
    INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
    INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
    WHERE i.TestergebnisseID = 3                    -- Nur wenn freigegeben '3 Negativ freigegeben'
        AND NOT EXISTS (                       -- Verhindert Duplikate
            SELECT 1 
            FROM Blutkonserven bc 
            WHERE bc.SpendeID = i.SpendeID
        );

    -- wenn Testergbins = '2 Positiv nicht-freigegeben', dann insert '1 entsorgt' in Tab. Blutkonserven      
    INSERT INTO Blutkonserven(SpendeID, MengeML, Herstellungsdatum, StatusID)
    SELECT
        i.SpendeID,           -- SpendeID aus Labortests
        bs.MengeML,
        st.TerminDatum,
        1
    FROM inserted i
    -- INNER JOIN Labortests lt ON i.TestergebnisseID = lt.TestergebnisseID  -- Verbindung zu Labortests!
    INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
    INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
    WHERE i.TestergebnisseID = 2                    -- Nur wenn '2 Positiv nicht-freigegeben'
        AND NOT EXISTS (                       -- Verhindert Duplikate
            SELECT 1 
            FROM Blutkonserven bc 
            WHERE bc.SpendeID = i.SpendeID
        );

END;
