USE [Blutspende]
GO
/****** Object:  Trigger [dbo].[trg_insert_Herstellungsdatum]    Script Date: 15.01.2026 13:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER   TRIGGER [dbo].[trg_insert_Herstellungsdatum] 
   ON  [dbo].[Blutkonserven]
   AFTER INSERT, UPDATE
AS 
BEGIN
    SET NOCOUNT ON;
    -- Prüfen ob Herstellungsdatum >= TerminDatum
	--IF EXISTS 
 --   (
 --       SELECT 1
 --       FROM inserted i
 --       INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
 --       INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
 --       WHERE i.Herstellungsdatum < st.TerminDatum
 --   )
 --   BEGIN
 --       RAISERROR ('Fehler: Herstellungsdatum muss größer oder gleich dem Spendetermin-Datum sein.', 16, 1);
 --       ROLLBACK TRANSACTION;
 --       RETURN;
 --   END

 IF EXISTS 
(
SELECT 1
FROM inserted i
INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
WHERE i.Herstellungsdatum < st.TerminDatum
)
BEGIN
DECLARE @ErrorMsg NVARCHAR(MAX);

SELECT @ErrorMsg = STRING_AGG(
'SpendeID: ' + CAST(i.SpendeID AS VARCHAR(10)) + 
', Herstellungsdatum: ' + CONVERT(VARCHAR(10), i.Herstellungsdatum, 104) + 
', TerminDatum: ' + CONVERT(VARCHAR(10), st.TerminDatum, 104),
'; '
)
FROM inserted i
INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
WHERE i.Herstellungsdatum < st.TerminDatum;

SET @ErrorMsg = 'Fehler: Herstellungsdatum muss >= TerminDatum sein. Probleme: ' + @ErrorMsg;

RAISERROR (@ErrorMsg, 16, 1);
ROLLBACK TRANSACTION;
RETURN;
END



END;
