USE [Blutspende]
GO
/****** Object:  Trigger [dbo].[trg_Insert_Verfallsdatum]    Script Date: 15.01.2026 13:37:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER   TRIGGER [dbo].[trg_Insert_Verfallsdatum]
   ON  [dbo].[Blutkonserven]
   AFTER INSERT, UPDATE
AS 
BEGIN

	SET NOCOUNT ON;

    UPDATE bc
    SET bc.Verfallsdatum = DATEADD(MONTH, sa.Haltbarkeit_Monate, i.Herstellungsdatum)
    FROM Blutkonserven bc
    INNER JOIN inserted i ON bc.KonserveID = i.KonserveID
    INNER JOIN Blutspenden bs ON i.SpendeID = bs.SpendeID
    INNER JOIN Spendetermine st ON bs.TerminID = st.TerminID
    INNER JOIN Spendearten sa ON bs.SpendenartID = sa.SpendeartID;

END
